@model RenderingsExample.Models.ViewModels.Blog

<section class="section">
    <div class="container">
        <div class="blogposts">
            @foreach (var post in Model.BlogPosts)
            {
                @Html.Partial(post.GetPartialView(), post)
            }
        </div>
    </div>
</section>